

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  padding: 1em;
  
}
.home-img {
  width: 10%; /* adjust as needed */
  height: auto; /* maintain aspect ratio */
  display: block;
  margin: 0 auto;
}
h2{
    text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  }
  
  nav {
  background-color: #f1f1f1;
  padding: 0.5em;
  text-align: center;
  }
  
  nav a {
  color: black;
  text-decoration: none;
  padding: 0 1em;
  
  }
  
  .page-container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  }
  
  th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  }
  
  th {
  background-color: #dddddd;
  }
  
  footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  }
  
  .menu-header {
  text-align: center;
  margin-bottom: 2em;
  }
  
  .menu-table {
  margin: 0 auto;
  }
  
  .menu-table th {
    text-transform: uppercase;
}

.menu-form {
width: 60%;
margin: 2em auto;
text-align: center;
}

.menu-form label {
display: block;
margin-bottom: 0.5em;
}

.menu-form input[type="text"], .menu-form input[type="email"], .menu-form input[type="tel"], .menu-form input[type="date"], .menu-form input[type="time"], .menu-form input[type="number"] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}

.menu-form input[type="submit"] {
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.menu-form input[type="submit"]:hover {
background-color: #45a049;
}




  
  